*
{
font-size:40px;
background-color:;
}

body
{
background-image: url('back.jpg');


}


.nav
{
background-color:#728FCE;
color:white;
//width:60%;
border-radius:40px;

}

.nav a
{
color: black;
text-decoration:none;
margin:20px;
font-size:35px;
font-style:italic;
}


.l1
{
border-radius:30px;
}
.l2
{
border-radius:30px;
}
.btn1
{
border-radius:30px;
background-color:black;
color:white;
}


.s1
{
border-radius:30px;
}
.s2
{
border-radius:30px;
}
.s3
{
border-radius:30px;
}
.btn2
{
border-radius:30px;
background-color:black;
color:white;
}


.f1
{
border-radius:30px;
}
.btn3
{
border-radius:30px;
background-color:black;
color:white;
}

.c1
{
border-radius:30px;
}
.c2
{
border-radius:30px;
}
.btn4
{
border-radius:30px;
background-color:black;
color:white;
}



.e1
{
border-radius:30px;
}
.e2
{
border-radius:30px;
}
.e3
{
border-radius:30px;
}
.e4
{
border-radius:30px;
}
.btn5
{
border-radius:30px;
background-color:black;
color:white;
}


.btn6
{
border-radius:30px;
font-size:35px;
background-color:black;
color:white;
font-style:italic;
}


.lin
{
font-size:10px;
}

